<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logsFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.hibernate.type" level="DEBUG" />
    <logger name="org.hibernate" level="DEBUG" />
    <logger name="by.itacademy.javaenterprise.goralchuk.dao.BaseDao" level="DEBUG" />
    <logger name="by.itacademy.javaenterprise.goralchuk.services.BookService" level="DEBUG" />
    <logger name="by.itacademy.javaenterprise.goralchuk.App" level="DEBUG" />
    <logger name="by.itacademy.javaenterprise.goralchuk.aspects.LoggingAspect" level="DEBUG" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="TIME_BASED_FILE"/>
    </root>

</configuration>